#header{
    background-color:darkgray;
  }
  #content{
    background-color:firebrick;
    float:left;
    width:35%;
    border:10px 0;
    box-sizing:content-box;
  }
  #sidebar1{
    background-color:lightpink;
    float:right;
    width:30%;
    border:10px 0;
    box-sizing: border-box;
  }
  #sidebar2{
    background-color:limegreen;
    float:left;
    width:35%;
    border:10px 0;
    box-sizing: border-box;
  }
  #footer{
    background-color:yellow;
    border:10px 0;
  }
  .clearfix{
    clear: both;
  }