body{
    background-color:black;
    margin:0 300px;
}

.box{
    background-color:white;
    margin: auto;
    border-style:solid;
    border-color:blue;
    height:600px;
    display:flex;
    justify-content:center;
    flex-direction:column;
}
.box div{
    border-style:solid;
    border-color:darkolivegreen;
    width:100%;
    margin:20px 0;
}